*{
    box-sizing: border-box;
}

body {
    background-image: url(images/nebula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.submitReady {
    background-color: purple;
    border: 1px solid rgb(146, 182, 187);
}

.submitUnready {
    background-color: none;
    border: none;
}
.marble {
    height: 60px;
    width: 60px;
    border-radius:50%;
    margin: 10px;
    display: inline-block;
}

.peg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(28, 75, 71); 
    background-color: rgb(32, 32, 32);   
    display: inline-block;
}

.main {
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.board {
    height: 580px;
    width: 240px;
    background-color: rgba(104, 211, 179, 0.541);
    border-radius: 7%;
    /* border: solid 2px green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputArea {
    height: 500px;
    margin: 20px;
    width: 300px;
    border: 1px solid yellow;
    
    

}

.boardBody{
    display: flex;
    justify-content: center;
    height:100%;
    padding: 10px 5px;
}

.boardHead{
    display: flex;
    height:10%;
}   

.guessArea { 
   padding-top: 5px;
   margin-right: 20px;
   /* border:solid 1px red; */
   width:60%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   
}
.guess {
    height:10%;
    width:100%;
    padding-top: 5px;
}

.secret{
    width:60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border:solid 1px red; */
    margin: 10px;
}
.logo{
    /* border: solid 1px yellow; */
    width: 40%;
}

.secretPeg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(4, 255, 234);
    background-color: rgb(32, 32, 32);
    display: inline-block;
}
.resultsArea {
    /* border: solid 1px rgb(4, 238, 70); */
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:100%;
}

.result {
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 35px;
    margin-bottom: 3px;
}

.scorePeg {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid rgb(28, 75, 71);
    background-color: rgba(20, 10, 20, 0.4);   
    display: inline-block;
    margin: 2px 3px;
}

.landingZone {
    border: 1px solid orange;

   
    
}
.landing {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 2px black;
    display: flex;
    display: inline-block;
    margin: 10px;
    background-color: rgba(20, 10, 20, 0.4);
}
.palette {
    border: 1px solid blue;

}

.holdingMoving{ //the marble thats being moved

}
.landingHover{ 
    border: 2px dashed yellow;
}

.modal-header-won {
    background-color: #50c853;
    color: white;
    font-weight: 500;
}

h1{
font-family: 'Righteous', cursive;
text-align: center;
color: rgb(0, 100, 100)
}

.line{
    background-color: rgb(0, 100, 100);
    height: 4px;
    margin-left: 4px;
    margin-top: 8px;
    width:100%;
    border-radius: 20%;
}

.blackPeg {
    background-color: black;
    height: 10px;
    width: 10px;
}

.whitePeg {
    background-color: white;
    height: 10px;
    width: 10px;
    border: 1px solid black;
}

.A, #A {
    background-image: url(images/A.png);
    background-size: cover;
    border: none;

    
}
.B, #B {
    background-image: url(images/B.png);
    background-size: cover;
    border: none;
    
}
.C, #C {
    background: url(images/C.png);
    background-size: cover;
    border:none;
}
.D, #D {
    background-image: url(images/D.png);
    background-size: cover;
    border: none;
}
.E, #E {
    background-image: url(images/E.png);
    background-size: cover;
    border: none;
}
.F, #F {
    background-image: url(images/F.png);
    background-size: cover;
    border: none;
}

#submit {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgb(104, 211, 179, 0.541);
    width:80px;
    
    
    text-align: center;
    /* border: solid 1px black; */
    border-radius: 7%;
}
#reset {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgba(78, 172, 144, 0.541);
    width:80px;
    
    
    text-align: center;
    /* border: solid 1px black; */
    border-radius: 7%;
}
#newGame{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgba(53, 116, 97, 0.541);
    width:80px;
    
    
    text-align: center;
    /* border: solid 1px black; */
    border-radius: 7%;
}
