.color {
    height: 100px;
    width: 100px;
}
button {
    padding: 25px;
}

.box {
    margin: 20px;
    border: 2px solid black;
    display: inline-block;
}
.landing{
    height: 150px;
    width: 300px;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}

.submitReady {
    background-color: purple;
    border: 3px solid pink;
}

.submitUnready {
    background-color: none;
    border: none;
}
.marble {
    height: 60px;
    width: 60px;
    margin: 10px;
    display: inline-block;
}

.A ,#A {
    background-color: blue;
}
.B ,#B {
    background-color: red;
}
.C ,#C {
    background-color: orange;
}
.D ,#D {
    background-color: purple;
}
.E ,#E {
    background-color: yellow;
}
.F ,#F {
    background-color: green;
}

.board {

}
.guessArea { 

}
.guess {

}
.peg {

}
.resultArea {

}
.result {

}
.scorePeg {

}
.inputArea {

}
.landingZone {

}
.landing {
    height: 100px;
    width: 100px;
    border: solid 2px black;
    display: inline-block;
    margin: 10px;


}
.palette {
    
}
